.addSoins-form {
  border: 1px solid #e5e5e5;
  padding: 2rem;
  background-color: #f8f8f8;
}

.row-indicateurs,
.row-care,
.row-activities {
  border: 1px solid #0000002e;
  padding: 1rem;
}

.noEditRepports-container {
  h6 {
    margin-top: 1rem;
  }
}

.indicateurs-container {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #ddd;

  .indicateur {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
  }

  .indicateur-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .indicateur-subline {
    font-size: 14px;
    padding-left: 12px;
  }

  .soins,
  .indicateurs {
    margin-top: 0.5rem;
  }
}

.editIconPatient {
  display: block;
  float: right;
  /* margin-right: 0.5rem; */
  margin-left: 0.5rem;
}

.row-btnRapport {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
  padding: 17px 20px;

  &:first-of-type {
    top: 0;
  }

  &:last-of-type {
    bottom: 0;
  }

  button {
    margin-left: 0.5rem;
    background: transparent;
    color: inherit;
  }
}