.addSoins-form{
    border: 1px solid #e5e5e5;
    padding: 2rem;
    background-color: #f8f8f8;
}

.row-indicateurs, .row-care, .row-activities{
    border: 1px solid #0000002e;
    padding: 1rem;
}

.noEditRepports-container{
    h6{
        margin-top: 1rem;
    }
}