.menu-metis{
    z-index: 11;
    .navbar-collapse{
        display: none;
    }
    .navbar-collapse.collapse.show{
     
       
            display: block;
       
    } 

    .select-menu{
        max-width: 186px;
        margin: 0 1rem 0 1rem;
    }
 
    .nav-link{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}