
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif
}




@import "./scss/login";
@import "./scss/menu";
@import "./scss/form";

@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/mixins";

// @import "../../node_modules/bootstrap/scss/grid";